<div class="header">
  {{{ ProfileButton }}}
  <div class="header__search">
    <label
    for="{{inputId}}"
    class="header__search_label"
    >
    </label>
    <input
    type="search"
    id="{{inputId}}"
    name="{{inputName}}"
    value=""
    class="header__search_input"
    placeholder="Search"
    >
  </div>
</div>
