.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.header__search {
    border: none;
    border-radius: 10px;
    background: var(--color-border);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search_input {
    border: none;
    border-radius: 10px;
    background-color: var(--color-border);
    text-align: center;
    height: 30px;
    width: 100%;
}

.header__profile-link {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    color: var(--color-primary);
}
