<section class="body">
    <div class="body__date">{{date}}</div>
    <div class="body__chat">
        {{#each messages}}
            <div class="body__chat_message {{#if this.isMine}}body__chat_message--right{{/if}}">
                <div class="message__content">{{this.text}}</div>
            </div>
        {{/each}}
    </div>
</section>
