<section class="section login">
    <div class="container login__container">
        <h1 class="login__title">Вход</h1>
        <form class="login__form">
            {{{InputLogin}}}
            {{{InputPassword}}}
            {{{LoginButton}}}
            {{{SignupButton}}}
        </form>
    </div>
</section>