<nav class="nav_list">
    <div class="nav_list__container">
        <a page="login">Войти</a>
        <a page="signin">Зарегистрироваться</a>
        <a page="profile">Профиль</a>
        <a page="chat">Чаты</a>
        <a page="error404">Error 404</a>
        <a page="error500">Error 500</a>
    </div>
</nav>