<section class="profile section">
  <div class="profile__container container">
    {{> Avatar title="John Doe" avatarUrl="/icon/avatar.svg"}}
    {{> ProfileInput label="почта" profileInputValue="ya@ya.ru" isReadOnly=true}}
    {{> ProfileInput label="логин" profileInputValue="login" isReadOnly=true}}
    {{> ProfileInput label="имя" profileInputValue="John" isReadOnly=true}}
    {{> ProfileInput label="фамилия" profileInputValue="Doe" isReadOnly=true}}
    {{> ProfileInput label="телефон" profileInputValue="+5(666)1234567" isReadOnly=true}}
    <div class="profile__buttons">
      {{> ButtonForm class="secondary-btn" text="Изменить данные" type="button" page="profileChange"}}
      {{> ButtonForm class="secondary-btn" text="Сменить пароль" type="button" page="profileChangePass"}}
      {{> ButtonForm class="secondary-btn" text="Выйти" type="button" page="login"}}
    </div>
  </div>
</section>
