.item {
    display: flex;
    border-top: 1px solid var(--color-border);
    padding: 5px 10px;
    border-radius: 10px;
}

.active {
    background-color: var(--color-active-item);
}

.item__img img {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.item__content {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 15px;
}

.item__content_text {
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item__content_title {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.item__info_date {
    font-size: 12px;
    margin: 0;
}

.item__info_badge {
    font-size: 12px;
    text-align: center;
    color: var(--text-primary);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
