<div class="avatar">
  <div class="profile__avatar">
    <img src="{{avatarUrl}}" alt="Аватар профиля" class="user-avatar">
      <div class="profile__avatar_upload" name="{{name}}">
        <p>Поменять аватар</p>
      </div>
  </div>
    <h2 class="profile__avatar_title">{{title}}</h2>
</div>
