.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    padding: 40px;
    border: 2px solid slateblue;
    border-radius: 10px;
    box-shadow: 0 0 30px #888888;
    box-sizing: border-box;
    background: #747bff;
}

.title {
    color: #ffffff;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.primary-btn {
    width: 100%;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    border: 2px solid transparent;
}

.primary-btn:hover {
    border: 2px solid slateblue;
}

.secondary-btn {
    border: none;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
}

.secondary-btn:hover {
    color: slateblue;
}

