<section class="message">
  <div class="icon">
    <img class="message__icon" src="/icon/attach_file.svg">
  </div>
  <form class="message__form">
    <input class="message__form_input" type="text" placeholder="Сообщение">
    <button class="message__form_btn">
      <img class="message__form_icon" src="/icon/arrow.svg">
    </button>
  </form>
</section>