<section class="message">
    <div class="icon">
        <label for="fileInput">
            <img class="message__icon" src="/icon/attach_file.svg" alt="прикрепить файл">
        </label>
        <input type="file" id="fileInput" name="file" class="profile__avatar_input">
    </div>
  <form class="message__form">
      {{{ Message }}}
      {{{ SendButton }}}
  </form>
</section>
