.message {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #dedede;
    padding: 20px;
}

.message__form {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.message__form_input {
    padding: 7px 10px;
    border: none;
    background-color: #dedede;
    border-radius: 15px;
    width: 100%;
}

.message__form_btn {
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 25px;
    height: 25px;
    padding: 0;
}

.message__form_icon {
    width: 25px;
    height: 25px;
}

.message__icon {
    width: 25px;
    height: 25px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
