<section class="message">
    <div class="icon">
        <label for="fileInput">
            <img class="message__icon" src="/icon/attach_file.svg" alt="прикрепить файл">
        </label>
        <input type="file" id="fileInput" style="display: none;" name="file">
    </div>
  <form class="message__form">
    <input class="message__form_input" type="text" placeholder="Сообщение" name="message">
    <button class="message__form_btn">
      <img class="message__form_icon" src="/icon/arrow.svg" alt="Иконка отпрвки сообщения">
    </button>
  </form>
</section>
