<section class="section error">
    <div class="error__container container">
        <h1 class="error__title">{{error}}</h1>
        <p class="error__text">{{text}}</p>
        {{{ButtonForm}}}
    </div>
</section>